<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>TIGO</title>
</head>

<body>
	<div align="center">
		ERROR
		<div style="margin: 0 auto;">
			<img src="../resources/icons/logoTigo.png" alt="Tigo" />
		</div>

		<br /> <a href="/ODECO_DIGITAL">Inicio</a>
		<div style="font-size: 12px; text-align: center;">Telecel 2015</div>
	</div>
</body>

</html>
